@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #0b1316;
}

.landing {
  min-height: 100vh;
  background: url(./img/img2.jpg);
  background-size: cover;
  background-position: center;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  font-family: 'Staatliches', cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: 'Staatliches', cursive;
  color: #1f292b;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #6b9cad;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #6b9cad;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
